.simple-math {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.immutable-column {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 0.5rem;
}

.draggable-item {
  width: 40px;
  height: 40px;
  background-color: #373737;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-gap: 0.5rem;
}

.droppable-cell {
  width: 40px;
  height: 60px;
  background-color: #474747;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.droppable-cell.hover {
  background-color: #bbdefb;
}

.validate-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.validate-button:hover {
  background-color: #388e3c;
}

.operator {
  background-color: #373737;
  color: #6ee86a;
  border-color: #373737;
}